#searchPage {
  width: 100%;
  height: 100%;
  font-size: 20px;
}

#mainNav {
  margin: 30px auto;
  height: 30px;
  width: 600px;
}

#nav {
  list-style: none;
  word-spacing: 20px;
}

#nav li {
  display: inline-block;
  background-color: pink;
  letter-spacing: 5px;
}

#searchNav {
  margin: 0 auto;
  width: 550px;
  height: 30px;
}

#text {
  width: 450px;
  height: 30px;
}

#searchButton {
  width: 80px;
  height: 38px;
}

a {
  text-decoration: none;
  color: black;
}

body,p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input{
  margin: 0;
  width: 0;
}

.box {
  margin: 30px auto;
  width: 675px;
  border: 1px solid #999;
  overflow: hidden;
}

.nav {
  margin-left: 0;
  font: 14px "微软雅黑";
  overflow: hidden;
  background-color: #f1f1f1;
}

.navI {
  float: left;
  width: 33.333%;
  box-sizing: border-box;
}

.navI-title {
  display:block;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  border-left: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
}

#navI-txt2 {
  position:relative;
  width: 675px;
  height: 100px;
  text-indent: 2em;
  line-height: 2;
  background: #fff;
  display: inline;
}

.navI-radio {
  display:none;
}

#table_webDisplay {
  height: 20px;
  width: 600px;
  border-spacing: 10px;
}

#table_webDisplay th {
  color: green;
  width: 100px;
}

.size {
  height: 300px;
}

#newDisplay {
  float: left;
  height: 450px;
}

#videoDisplay {
  float: left;
  height: 450px
}

#table_webDisplay {
  float: left;
  height: 80px;
}

.box .nav .navI input:nth-of-type(1):checked~ .txt #websDisplay:nth-child(1) {
  opacity: 1;
}

#websDisplay {
  opacity: 1;
  position: absolute;
}
