#suggestionList {
  display: block;
  list-style: none;
  width:230px;
  background-color: rgb(255,251,240);
}

ul li a {
  text-decoration: none;
  color: black;
}

#span {
  color:red;
}

.top3 {
  color: #f60;
}

#searchBloker {
  position:fixed;
  left:40%;
  top:20%;
  font-family: inherit;
  font-size: 20px;
}

#text {
  width:350px;
  height:40px;
  border-radius: 50px;
  font-size: 20px;
}

#searchButton {
  color: #19c3ff;
  border-radius: 20px;
  width: 70px;
  height: 40px;
}

#backgroundPhoto {
  position: fixed;
  top: 10%;
  left:35%;
  width:600px;
  height: 200px;
  background-image: url(../../src/photos/background.jpg);
}
